<div id="conversations-modal">
    <div id="modal-content">
        <div class="d-flex justify-content-between">
            <h2>Messages</h2>
            <button id="close-conversations-modal-button" type="button" class="btn btn-outline-secondary">Close</button>
        </div>
        <div id="user-messages-search">
            <!-- <%= form_tag(root_path, method: 'get', class: "form-inline") do %>
                <div id= "search-data" class="form-search search-data" data-users="<%= @users.to_json %>">
                    <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for user" %>
                    <%= submit_tag "Search", class: "btn btn-primary button-home" %>
                </div>
            <% end %> -->
            <input type="text" name="search" id="search", autocomplete='off' />
            <!-- <button onClick="JavaScript:linkFunction()">Click Me</button>
            <script src="#"></script> -->

        </div>
        <!-- <%= form_for User.new, url: '/backend-search', method: 'get' do |f| %>
            <%= text_field :contact, :q, class: "form-control" %>
        <% end %> -->
        <% @conversations.each do |conversation| -%>
            <div class="conversation-list-item">
                <%= link_to conversation.recipient(current_user).first_name, conversation_messages_path(conversation) -%>
                <% if !conversation.unread_message_count(current_user).zero? -%>
                    <%= conversation.unread_message_count(current_user) -%>
                <% end -%>
            </div>
        <% end -%>
    </div>
</div>