<div id="messages" data-conversation-id="<%= @conversation.id %>">
  <h1>This is running through conversaitons/messages.html.erb</h1>
  <ul>
    <% @messages.each do |message| %>
      <% if message.body %>
        <%= render 'message', message: message %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>

  <%= f.submit "Send" %>
<% end %>
