<% lost_pets = [] %>
<% @pets.each do |pet| %>
  <% if pet.status == "Lost" %>
    <% lost_pets << pet %>
  <% end %>
<% end %>

<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-10 align-middle">
      <h1>Lost pets</h1>
    </div>
    <div class="col-2 align-middle">
      <%= link_to "Back", root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="row">
    <
  </div>

  <div class="row">
    <div class="col-8">
      <div class="card-columns">
        <% lost_pets.sort_by(&:name).each do |pet| %>
          <%= link_to pet do %>
            <div class="card">
              <%= cl_image_tag pet.photos.first.key, class: "card-img-top" %>
              <div class="card-body">
                <p class="card-text"><%= pet.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div id="temp-map-div">
        <%= image_tag("map.jpg", id: "temp-map-image") %>
      </div>
    </div>
  </div>
</div>
